:root{
  --header-background:rgb(38, 115, 216)
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#container{
  position:relative;
}
#taskContainer{
  margin-top:1rem;
  display:flex;
  flex-direction:column;
  gap:.5rem;
}
header{
  background:var(--header-background);
  color:white;
  display:flex;
  justify-content:space-between;
  padding:1em;
  font-family:"Afacad Flux", sans-serif;
  font-weight:300;
  font-style:italic;
  font-size:1.5rem;
}
button{
  background:white;
  color:black;
  border:2px solid black;
  border-radius:10px;
  transition:all 0.5s ease;
  padding:1em;
  visibility:inherit;
}
button:hover{
  background:black;
  color:White;
}
input,select{
  padding:0.5em 1em;
}
article{
  padding:.5em;
}
.invisible{
  display:none
}
.visible{
  display:block;
}
.error{
  color:red;
}
.buttons{
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-between;
  gap:1rem;
}
#account{
  position:relative;
  cursor:pointer;
}
#account span{
  display:block;
  border:3px solid white;
  padding:0.3em 1em;
  border-radius:10px;
}
#accountDetails{
    padding:1em;
  background:var(--header-background);
    position:fixed;
    top:80px;
    right:10px;
    font-size:1.2rem;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    border:2px solid white;
    border-radius:10px;
    z-index:2;
}
#accountDetails div{
  padding-top:0.6em;
  font-size:1rem;
}
#accountDetails div p{
  margin-top:1em;
  text-align:center;
  cursor:pointer;
}
#opcje{
  width:100%;
  display:flex;
  gap:0.7em;
  justify-content:center;
  flex-wrap:wrap;
}
@media screen and (max-width:590px){
  header{
    flex-direction:column;
    align-items:center;
    gap:2em;
  }
  #accountDetails{
    top:130px;
    right:25%;
  }
}