.task{
    position:relative;
    cursor:default;
}
.task h2{
  text-align:center;
}
.task.detailsHidden{
    cursor:pointer;
}
.task > div:first-of-type{
  display:none; 
}
  .task.detailsHidden div{
    border:2px solid black;
    border-radius:10px;
    display:block;
    width:fit-content;
    padding:1em;
    background:green;
  }
  .task.detailsHidden.expired div{
    background:red;
    color:white;
  }
  .taskComponentWindow{
    display:block;
    padding:1em;
    border:2px solid black;
    border-radius:10px;
    width:fit-content;
  }
 .task .buttons {
   margin-top: 1em;
   flex-direction: column;
 }
  .task.detailsHidden .taskComponentWindow{
    display:none;
  }
  .task .buttons{
      display: grid;
    grid-template-areas: "button1 button2"
        "button3 button4";
  }
@media screen and (max-width:530px){
  .task .buttons{
    display:flex;
    flex-direction:column;
  }
}
