.task{
    position:relative;
    cursor:default;
}
.task h2{
  text-align:center;
}
.task.detailsHidden{
    cursor:pointer;

  }
.task > div:first-of-type{
  display:none; 
}
  .task.detailsHidden div{
    border:2px solid black;
    border-radius:10px;
    display:block;
    width:fit-content;
    padding:1em;
    background:green;
  }
  .task.detailsHidden.expired div{
    background:red;
    color:white;
  }
  .taskComponentWindow{
    display:block;
    padding:1em;
    border:2px solid black;
    border-radius:10px;
    width:fit-content;
  }

  .task.detailsHidden .taskComponentWindow{
    display:none;
  }
  